
body { 
    background-color: #849c86;
    color: lightbrown; } 
    button { 
        background-color: lightbrown;
        color: #849c86;
        border: 1px solid #849c86;
        padding: 10px 20px; 
        cursor: pointer; }

    button:hover { 
        background-color: #849c86;
        color: lightbrown; 
        border: 1px solid lightbrown; }