
body { 
    background-color: rgb(235, 235, 235);
    color: #335236; } 
    button { 
        background-color: #181238;
        color: rgb(235, 235, 235);
        border: 1px solid #181238;;
        padding: 10px 20px; 
        cursor: pointer; }

    button:hover { 
        background-color: rgb(235, 235, 235);
        color: lightbrown; 
        border: 1px solid lightbrown; }